//mixin
@mixin form__checkbox {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

@mixin display {
   display: flex;
      align-items: center;
      justify-content: center;
}