.advantages {
  background-color: $header-bgr-color;
}

/*----no-padding-------*/
.no__padding {
  padding-bottom: 0;
}

/*-----advantages-title------*/

.advantages__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

/*-----advantages-text------*/

.advantages__text {
  color: $additional-text-color;
  font-size: 14px;
  line-height: 1.7;
}

/*----advantages-list-------*/

.advantages__list {
  display: flex;

  margin-right: -30px;
  margin-bottom: -30px;
}

.advantages__item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.adv__wrap {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  background-color: $team-section-bgr-color;
}

.advantages__icon {
  display: block;
  background-color: $team-section-bgr-color;
}
