//Hero

.hero {
  background-color: $titel-bgr-color;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-inline: auto;
  padding: 200px 0px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-background.jpg);
  text-align: center;
}

/*-------Hero-title-------*/
.hero__title {
  max-width: 696px;
  margin: auto;
  color: $title-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  background-color: $accent-bgr-color;
  color: $title-text-color;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;

  transition-property: background-color;
  @include transition;
  &:hover,
  &:focus {
    background-color: $btn-hover-color;
    color: $title-text-color;
  }
}
